*
{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing:border-box; 
    color:black;
}
#Divi1
{
    width:100%;
    min-height: 30px;
  border-style: outset; 
  border-color:rgb(89, 50, 38) ;
  border-radius: 15px;
  border-width: 5px;
    margin-bottom: 10px;
}
#logo
{
    width:20%;
    min-height: 50px;
    float:left;
    line-height: 50px;
    padding-left: 2%;
   
}
#navigation
{
    width:50%;
    min-height: 50px;
   float: right;
   line-height: 50px;
}
ul{
    width: 80%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    float:right;
     margin-right:45px;
}
ul li{
    margin:5px;
}
ul li:hover {
    size: 15Px;
    font-weight:bolder;
    cursor: pointer;
    background-color:rgb(161, 120, 118);
    border-radius: 10px;
}
.clearfix::after
{
  content:" ";
  display:block;
  clear: both;
}
#Header
{
    min-height: 380px;
    /*background-color:;*/
    text-align: center;
    line-height:100px;
    margin-bottom: 10px;
    background-image: url(".jpg");
    border-style: outset; 
  border-color:rgb(89, 50, 38) ;
  border-radius: 15px;
  border-width: 5px;
}
#Ofertat
{
    width:100%;
    min-height:88px ;
    /*background-color:rgb(161, 120, 118);*/
    text-align: center;
    line-height: 88px;
    margin-bottom: 10px;
    background-image: url("Dark.jpg");
    border-radius: 15px;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 15px;
    border-style: outset; 
  border-color:rgb(89, 50, 38) ;
  border-radius: 15px;
  border-width: 5px;

}

.Fotot{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.Boxi{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 200px;
   
}
.img{
    width: 100%;
    height: 75%;
    background-size: 100% 100%;
}
.views_date{
    width: 250px;
    display: flex;
    justify-content: space-between;
    color: black;
    font-weight: bold;
}
footer
{
    width:100%;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    border-radius: 15px;
    border-style: outset; 
  border-color:rgb(89, 50, 38) ;
  border-radius: 15px;
  border-width: 5px;
}
.footer{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 90%;
    color: black;

}

.footer_foto{
    display: flex;
    justify-content: space-between;
    width: 20%;
    float:right;
    
}
.footer_foto img{
    width: 50px;
    height: 50px;
    
    
    
    
}
.footer-left h3
{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
    color:  #e0ac1c;
}
.footer-name
{
color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;

}
#wrapper-div
{
    width:80%;
    margin:auto;
}

/*LOG IN FORM*/

<<<<<<< HEAD

=======
  /*Contact Form*/
>>>>>>> c1bb5c865bf8cffd3936686e27ff979dd5febafb
  