* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}
.container {
position: relative;
text-align: center;
color: white;
}

.Boxi {

transition: transform .2s;

}

.Boxi:hover {
-ms-transform: scale(1.1); 
-webkit-transform: scale(1.1);
transform: scale(1.1); 
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

body {
  background-color: white; 
}

#Divi-logos-navigimit {
  width: 100%;
  min-height: 50px;
  height: 105px;
  border-bottom-left-radius: 15px;
  margin-bottom: 10px;
  border-bottom-right-radius: 15px;
  background: #ffdbdb;
  
}

#logo {
  width: 20%;
  min-height: 30px;
  float: left;
  line-height: 50px;
  padding-left: 2%;
}

#Navigimi {
  width: 50%;
  min-height: 10px;
  float: right;
  line-height: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 10px;
}

li a:hover {
  background-color: #ffb6c1; 
}

#Header {
  min-height: 300px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 10px;
  background-image: url(".jpg");
  background: #ffdbdb;
  border-radius: 15px;
  margin-top: 10px;
}


#Ofertat {
  width: 100%;
  min-height: 88px;
  text-align: center;
  line-height: 88px;
  margin-bottom: 10px;
  background-image: url("Dark.jpg");
  border-radius: 15px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  border: 5px outset #ff8c94; 
  background-color: #fff;
  padding: 10px;
}

.Fotot {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

.Boxi {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin: 10px;
  border-radius: 15px;
  overflow: hidden;
  
}

.img {
  width: 100%;
  height: 75%;
  background-size: cover;
  margin-bottom: 5px;
  

}

.Receta p { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  line-height: 2.5; 
  margin-top: -5px;
  font-size: 10px;
  font: italic  "Fira Sans", serif;
  position: absolute;
 

}
.Receta h3
{
  color: black;
  margin-top: 10px;
}
/*--------------------ABOUT US ----------------------------------------------*/
.About {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  background-image: url('img/PrapavijaAbout.jpg');
 background-size: cover; 
 background-position: center; 
 width: 100%;
 height:100%;
 z-index: -1;
 margin-top: -15px;

}

.Texti {
  overflow: hidden; 
}

.Aboutus {
  width: 40%;
  float: left;
}

.what-we-do {
  width: 40%;
  float: right;
}

/* ------------SLLAJDERI----------------------------------------------*/
.Slajderi  
{
display: none;
text-align: center;
padding: 20px;
z-index: 1;


}

.Slajderi  img 
{


padding: 50px 40px;
position: relative;
bottom: -330px;
margin-right: -40%;
line-height: 1.2;
border-radius: 100px;
border-style: outset;
border-width: 2px;
border-color:palevioletred;

}

.slider-korniza {
max-width: 800px;
position:relative;
margin-top: 1px;
/*z-index: 1;*/
z-index: 1;



}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
bottom: 8px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color:black;
letter-spacing: 0.5px;
padding: 50px 40px;
position: relative;
bottom: 8px;
width: 50%;
height: 0%;
margin-left: 100%;
line-height: 1.2;
border-radius: 100px;
border-style: outset;
border-width: 2px;
border-color:palevioletred;

}


.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 5px;
background-color:#e01c6e;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color:rgba(216, 112, 147, 0.767);
}
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4} 
to {opacity: 1}
}


@media only screen and (max-width: 300px) {
.prev, .next,.text {font-size: 11px}
}

/* ------------SLLAJDERI----------------------------------------------*/


.P2 {

  text-align: center;
  text-decoration: none;
  font-size: 11px;
  display: inline-block;
  cursor: pointer;
  background-color: #ff8c94; 
  border: none;
  color: #fff;
  padding: 6px 4px;
  border-radius: 10px;

}

.Texti 
{
   letter-spacing: 2px;
  line-height: 200%;
  margin-top: 5px;
  padding: 8px;
 
}

.Texti h1 , h2 {
  text-align: center;
  text-transform: uppercase;
  color: #ff8c94;
  margin-top: 100px;
  
}
.Texti p {
  text-indent: 40px;
  text-align:center;
  letter-spacing: 2px;
  font: italic 1.2rem "Fira Sans", serif;
  font-size: 20px;
  margin-top: 20px;
  padding-left: 15px;
  
  
}

.Gallery {
  
display: inline-block;
flex-wrap: nowrap; 
justify-content: space-around; 
align-items: center;
text-align: center;
overflow-x: auto; 
margin-top: 30px;
margin-bottom: 30px;
  

}

.Gallery img {
  width: 50%; 
  max-width: 300px;
  height: auto; 
  margin-top: 20px;
}
.Gallery:hover {
  transform: scale(1.30);
}

.Gallery:hover .Pershkrimi  {
  opacity:1;
}

.Pershkrimi {
  margin-top: -15px; 
}


.Pershkrimi h3 {
  color: black;
  margin-top: -65px;
}

.Pershkrimi p {
  line-height: 1.4; 
  color:black; 
  margin-top: -40px;
  font-size: 10px;
  font: italic  "Fira Sans", serif;
 
}

/*Contact us  forma--------------------------------------------------------------------*/
.ContactUs-Korniza
{
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 20px;
  background-image: url('img/PrapavijaAbout.jpg');
 background-size: cover; 
 background-position: center; 
 width: 100%;
 height:100%;
 z-index: -1;
 margin-top: -15px;
}
form
{
   /*background:#ffdbdb;*/
   display: flex;
   flex-direction: column;
   padding: 2vw 4vw ;
   width:90%;
   max-width: 600px;
   border-radius: 10px;
   z-index: 1;

}
form h3{
  color:  #ff536f;
  font-weight:800;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;

}
form input ,form textarea
{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    background: #f5f5f5;
    font-size: 16px;
    border: 2px solid #ced4da;
    border-radius: 30px;
}

form button
{
  padding: 15px;
  background: #ff536f;
  color:white;
  font-size: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  width:150px;
  margin:20px auto 0;
  border-radius: 30px;
}

/*Gjinia-------------------------------------*/
select {
  width: 100%;
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  font-size: 16px;
  border: 2px solid #ced4da;
  border-radius: 30px;
  background: #f5f5f5;
}

select option 
{
  background-color: #f2f2f2; 
  color:black;
  padding: 8px;
}

select option:checked {
  background-color:white;
  color:black;


}
/*------------------CONTACT US --------------------------------------------------------*
/*----------------------FFOOTERI-------------------------------------------------------*/
.footer{  
  background: #ffdbdb;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 10px;
}
 
.footer .footer-Majtas,
.footer .footer-Mesi,
.footer .footer-Djathtas{
  display: inline-block;
  vertical-align: top;
}
 
.footer .footer-Majtas{
  width: 30%;
}
 
.footer h3{
  color:black;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}
  
.footer h3 span{
  color:  #e01c6e;
}

 
.footer.footer-navigimi{
  color:black;
  margin: 20px 0 12px;
}
 
.footer .footer-navigimi a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}
 
.footer .footer-Emri{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.Open
{
   color:palevioletred;
   font-size: 14px;
   font-weight: normal;
   margin-top: 10px;
}
 
.footer .footer-Mesi{
  width: 30%;
  margin-left: 55px;
}
 
 
.footer .footer-Mesi i{
  background-color: #ff8c94;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
 
.footer .footer-Mesi i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}
 
.footer .footer-Mesi p{
  display: inline-block;
  color:black;
  vertical-align: middle;
  margin:0;
  font-size:12px;
}
 
.footer .footer-Mesi p span{
  display:block;
  font-weight: normal;
  font-size:12px;
  line-height:2;
  color:black;
}
 
.footer .footer-Mesi p a{
  color: black;
  text-decoration: none;;
}
 
 
.footer .footer-Djathtas{
  width: 30%;
  float: right;
}
 
.footer .footer-About{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0px;
   
}
 
.footer .footer-About span{
  display: block;
  color:#e01c6e;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
 
.footer .footer-links{
  margin-top: 25px;
}
 
.footer .footer-links  a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #ff8c94;
  border-radius: 2px;
 
  font-size: 20px;
  color:white;
  text-align: center;
  line-height: 35px;
 
  margin-right: 3px;
  margin-bottom: 5px;
}
 

@media (max-width: 880px) {
 
  .footer .footer-Majtas,
  .footer .footer-Mesi,
  .footer .footer-Djathtas{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}
  .footer .footer-Mesi i{
    margin-left: 0;
  }

  /*----------------------FFOOTERI-----------------------------*/
